<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вакансии</title>
</head>
<body>
<div>
    <h1> Хочешь найти вакансию, значит ты попал по адресу </h1>
    <img alt="browsers.org" src="https://png.pngtree.com/png-vector/20220527/ourmid/pngtree-online-job-search-and-recruitment-concept-png-image_4752003.png"
         style="width: 300px">
        <h2 class="h2-text"> Наш сайт и информация о нас </h2>
        <a href="https://hh.ru/vacancy/137240026" target="_blank"> search.vacancy.com </a>
        <p> Мы <span style="color: green">помогаем</span> специалистам находить подходящие вакансии и успешно проходить путь от поиска работы до выхода на
            новое место. Анализируем опыт и навыки кандидата, помогаем определить наиболее подходящие позиции,
            подготовить и улучшить резюме, сопроводительные письма и профиль на профессиональных площадках. Также
            консультируем по прохождению собеседований и помогаем правильно представить свой опыт работодателю. Наша
            задача — сделать поиск работы более эффективным и помочь кандидату найти позицию, которая соответствует его
            опыту, профессиональным целям и ожиданиям. </p>
    <h4> Что мы предлагаем </h4>
    <ul>
        <li>Подбор вакансий</li>
        <li>Подготовка к трудоустройству</li>
        <li>Сопровождение до выхода на работу</li>
    </ul>
    <h4> Что требуется от тебя </h4>
    <ol>
        <li>Предоставить резюме</li>
        <li>Определить ваши пожелания</li>
        <li>Быть на связи</li>
    </ol>
    <h3> Если готов к сотрудничесву, заполни форму для связи </h3>
    <form action="/action" method="POST">
        <div>
            <input type="text" placeholder="Введи имя">
        </div>
        <div>
            <input required type="email" placeholder="Введи почту">
        </div>
        <div>
            <input type="password" placeholder="Введи пароль">
        </div>
        <div>
            <input type="number" placeholder="Введи номер">
        </div>
        <div>
            <textarea placeholder="Информация о себе"></textarea>
        </div>
        <button type="submit">Отправить</button>
    </form>
    <h3> Наши контакты </h3>
    <table>
        <thead>
        <tr>
            <td> Должность</td>
            <td> ФИО</td>
            <td> Номер телефона </td>
        </tr>
        <tr>
            <td> Директор центра</td>
            <td> Петрова Любовь Михайловна</td>
            <td> +79564123987</td>
        </tr>
        <tr>
            <td> hr бизнес партнер</td>
            <td> Коновалова Ирина Дмитриевна</td>
            <td> +79874562134</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>